<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>여행 서랍장</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        body{
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            letter-spacing: 2px;
            color: #35251C;

        }
        .wrap {
            width:50vw;
            margin:auto;
        }
    </style>
</head>

<body>
<div class="jumbotron" style="background-color: #EDEDE9; position: relative;">
    <div style="width: 50vw; margin: auto;">
        <h1 class="display-4" style="display: inline-block;"><span>물음</span>님의 서랍장</h1>
        <form action="#" style="display: inline-block; position: absolute; right: 470px;">
            <input type="text" placeholder="검색어를 입력하세요" style="border-color : #D6CCC2; border-radius: 5px">
            <button type="submit" style="border-color : #AD9885; border-radius: 5px">검색</button>
        </form>
        <p class="lead">추억을 담아두고, 나중에 꺼내보세요.</p>
        <hr class="my-4">
        <p>현재 "<span>3</span>"개의 기록이 서랍장에 담겨있어요.</p>
        <p class="lead" >
            <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: #AD9885; border: none">여행 기록하기</a>
        </p>
    </div>
</div>


<div class="wrap">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="https://jmagazine.joins.com/_data/photo/2019/02/838745483_JsSHRqf8_1.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://jmagazine.joins.com/_data/photo/2019/02/838745483_JsSHRqf8_1.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://jmagazine.joins.com/_data/photo/2019/02/838745483_JsSHRqf8_1.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://jmagazine.joins.com/_data/photo/2019/02/838745483_JsSHRqf8_1.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://jmagazine.joins.com/_data/photo/2019/02/838745483_JsSHRqf8_1.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://jmagazine.joins.com/_data/photo/2019/02/838745483_JsSHRqf8_1.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>


    </div>

    <div style="margin-top: 50px; margin-left: 400px;">
        <nav aria-label="Page navigation example" >
            <ul class="pagination" style="color: #35251C;">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" style="border: none; color: #35251C;">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#" style="border: none; color: #35251C;">1</a></li>
                <li class="page-item"><a class="page-link" href="#" style="border: none; color: #35251C;">2</a></li>
                <li class="page-item"><a class="page-link" href="#" style="border: none; color: #35251C;">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" style="border: none; color: #35251C;">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

</body>

</html>